include includes/header
include includes/nav
.flex-row-container.centre-flex-row-items(style='margin-top: var(--medium-px)')
  .title-text-box.blue-title-text-box(style='padding: var(--medium-px); margin: 0px var(--medium-px) 0px var(--medium-px); hyphens: none;')
    | Rota
.scroll-flex-row-container(style='margin-top: var(--medium-px)')
  table.overflow-table.safe-centre-table
    thead
      th Day
      th Shift
    tbody
      tr
        td Monday
        if shifts.mon
          td= shifts.mon
        else 
          td
      tr
        td Tuesday
        if shifts.tue
          td= shifts.tue
        else 
          td
      tr
        td Wednesday
        if shifts.wed
          td= shifts.wed
        else 
          td
      tr
        td Thursday
        if shifts.thu
          td= shifts.thu
        else 
          td
      tr
        td Friday
        if shifts.fri
          td= shifts.fri
        else 
          td
      tr
        td Saturday
        if shifts.sat
          td= shifts.sat
        else 
          td
      tr
        td Sunday
        if shifts.sun
          td= shifts.sun
        else 
          td
.flex-row-container.centre-flex-row-items(style='margin-top: var(--medium-px)')
  a.primary-button(href=`/rota/${weekStart}/download`)
    | Download
