include includes/header
include includes/nav
.flex-row-container.centre-flex-row-items(style='margin-top: var(--medium-px)')
  .title-text-box.blue-title-text-box(style='padding: var(--medium-px); margin: 0px var(--medium-px) 0px var(--medium-px); hyphens: none;')
    | My Details
.scroll-flex-row-container.centre-flex-row-items(style='margin-top: var(--medium-px)')
  form.vertical-form
    div(style='height: 500px')
      label(for='employee-fname') First Name
      label(for='employee-lname') Last Name
      label(for='dateOfBirth') Date of Birth
      label(for='gender') Gender
      label(for='phoneNo') Phone Number
      label(for='email') Email
      label(for='houseNo') House Number
      label(for='street') Street
      label(for='postCode') Post Code
      label(for='city') City
    div(style='width: 15vw; min-width: 150px; height: 500px')
      input(type='text' name='employee-fname' value=`${user.firstName}` readonly='')
      input(type='text' name='employee-lname' value=`${user.lastName}` readonly='')
      input(type='text' name='dateOfBirth' value=`${user.dateOfBirth}` readonly='')
      select(name="gender" id="gender" disabled)
                        if user.gender == 'M'
                            option(value="M") Male
                        if user.gender == 'F'
                            option(value="F") Female
                        if user.gender == 'O'
                            option(value="O") Other
      input(type='text' name='phoneNo' value=`${user.phoneNo}` readonly='')
      input(type='text' name='email' value=`${user.email}` readonly='')
      input(type='text' name='houseNo' value=`${user.houseNo}` readonly='')
      input(type='text' name='street' value=`${user.street}` readonly='')
      input(type='text' name='postCode' value=`${user.postCode}` readonly='')
      input(type='text' name='city' value=`${user.city}` readonly='')
    div
      a.primary-button(href='/profile/edit' onclick='') Edit
