//Same as viewEmployee except now all inputs are editable 

include includes/header.pug
div#page-container 
    include includes/nav
    div#content-container
        div(class="flex-row-container centre-flex-row-items" style="margin-top: var(--medium-px)")
            div(class="title-text-box blue-title-text-box" style="padding: var(--medium-px); margin: 0px var(--medium-px) 0px var(--medium-px); hyphens: none;").
                Edit Details
        div(class="scroll-flex-row-container centre-flex-row-items" style="margin-top: var(--medium-px)")
            form(class="emp-form")
                div(class="emp-form__item")
                    label(for="firstName" class="emp-form__label") First Name 
                    input(type="text" class="emp-form__input" name="firstName" id="firstname" value=`${passedInUser.firstName}`)
                div(class="emp-form__item")
                    label(for="lastName" class="emp-form__label") Last Name 
                    input(type="text" class="emp-form__input" name="lastName" id="lastname" value=`${passedInUser.lastName}`)
                div(class="emp-form__item")
                    label(for="gender" class="emp-form__label") Gender
                    select(class="emp-form__select" name="gender" id="gender")
                        if passedInUser.gender == 'F'
                            option(value="F" selected="selected") Female
                            option(value="M") Male
                            option(value="O") Other
                        if passedInUser.gender == 'M'
                            option(value="F") Female
                            option(value="M" selected="selected") Male
                            option(value="O") Other
                        if passedInUser.gender == 'O'
                            option(value="F") Female
                            option(value="M") Male
                            option(value="O" selected="selected") Other  
                div(class="emp-form__item")
                    label(for="employeeType" class="emp-form__label") Employee Type
                    select(class="emp-form__select" name="employeeType" id="employeetype")
                        if passedInUser.access.level == 1
                            option(value="1" selected="selected") Employee 
                            option(value="2") Middle Manager
                            option(value="3") Senior Manager
                        if passedInUser.access.level == 2
                            option(value="1") Employee 
                            option(value="2"  selected="selected") Middle Manager
                            option(value="3") Senior Manager
                        if passedInUser.access.level == 3
                            option(value="1") Employee 
                            option(value="2") Middle Manager
                            option(value="3" selected="selected") Senior Manager 
                div(class="emp-form__item")
                    label(for="phone" class="emp-form__label") Phone Number
                    input(type="text" class="emp-form__input" name="phone" id="phone" value=`${passedInUser.contact.phone}`)
                div(class="emp-form__item")
                    label(for="email" class="emp-form__label") Email
                    input(type="text" class="emp-form__input" name="email" id="email" value=`${passedInUser.contact.email}`)
                div(class="emp-form__item")
                    label(for="houseNo" class="emp-form__label") House Number
                    input(type="text" class="emp-form__input" name="houseNo" id="houseno" value=`${passedInUser.contact.address.houseNumber}`)
                div(class="emp-form__item")
                    label(for="street" class="emp-form__label") Street
                    input(type="text" class="emp-form__input" name="street" id="street" value=`${passedInUser.contact.address.street}`)
                div(class="emp-form__item")
                    label(for="postCode" class="emp-form__label") Postcode
                    input(type="text" class="emp-form__input" name="postCode" id="postcode" value=`${passedInUser.contact.address.postCode}`)
                div(class="emp-form__item")
                    label(for="city" class="emp-form__label") City
                    input(type="text" class="emp-form__input" name="city" id="city" value=`${passedInUser.contact.address.city}`)
                div(class="emp-form__item")
                    button(class="emp-form__button" type="submit") Update  