//Loops through all the employees in the employee list that gets passed down
//For right now I think just some basic details are all thats needed before the view more

mixin loopEmployees(employeesIn)
    each employee in employeesIn
        tr 
            td= employee.firstName 
            td= employee.lastName  
            td= employee.age
            td= employee.address 
            td
                a(href=`/employees/${employee.staffNumber}`) View | 
                a(href=`/employees/${employee.staffNumber}/edit`) Edit |
                a(href=`/employees/${employee.staffNumber}/delete`)  Delete 

include includes/header.pug
div#page-container 
    include includes/nav
    div#content-container
        div(class="scroll-flex-row-container centre-flex-row-items" style="margin-top: var(--medium-px)")
            table(class="rota-table") 
                thead
                    tr
                        th First Name   
                        th Last Name  
                        th Age 
                        th Address 
                        th View / Edit / Delete
                tbody
                    +loopEmployees(employees)