mixin loopPayslips(payslips)
    table(class="rota-table")
        thead 
            tr 
                th Date
                th Gross Pay 
                th Net Pay 
                th Nat Insurance Pay 
                th Income Tax
                th Pensions Pay
                th Tax Code 
        tbody 
            each payslip in payslips
                tr 
                    td=payslip.issueDate
                    td=payslip.grossPay 
                    td=payslip.netPay 
                    td=payslip.natInsContrib
                    td=payslip.incomeTax 
                    td=payslip.pensionContrib
                    td=payslip.taxCode

include includes/header.pug
div#page-container 
    include includes/nav
    div#content-container
        div(class="payslip-row-container centre-flex-row-items" style="margin-top: var(--medium-px)")
            div(class="title-text-box blue-title-text-box" style="padding: var(--medium-px); margin: 0px var(--medium-px) 0px var(--medium-px); hyphens: none;").
                Payslips
            div(class="centre-flex-row-items" style="margin-top: var(--medium-px)")
                if payslips
                    +loopPayslips(loggedInUser.payslips)
                else
                    p No payslips