//Page which shows the details of the currently logged in employee/manager

//Is basically the same as the edit details page except all input is readonly

include includes/header.pug
div#page-container 
    include includes/nav
    div#content-container
        div(class="flex-row-container centre-flex-row-items" style="margin-top: var(--medium-px)")
            div(class="title-text-box blue-title-text-box" style="padding: var(--medium-px); margin: 0px var(--medium-px) 0px var(--medium-px); hyphens: none;").
                My Details 
        div(class="scroll-flex-row-container centre-flex-row-items" style="margin-top: var(--medium-px)")
            form(class="emp-form")
                div(class="emp-form__item")
                    label(for="firstname" class="emp-form__label") First Name 
                    input(type="text" class="emp-form__input" name="firstname" id="firstname" placeholder=`${loggedInUser.firstName}` readonly)
                div(class="emp-form__item")
                    label(for="lastname" class="emp-form__label") Last Name 
                    input(type="text" class="emp-form__input" name="lastname" id="lastname" placeholder=`${loggedInUser.lastName}` readonly)
                div(class="emp-form__item")
                    label(for="birthdate" class="emp-form__label") Date of Birth
                    input(type="date" class="emp-form__input" name="birthdate" id="birthdate" placeholder=`${loggedInUser.dateOfBirth}` readonly)
                div(class="emp-form__item")
                    label(for="gender" class="emp-form__label") Gender
                    select(class="emp-form__select" name="gender" id="gender" disabled)
                        if loggedInUser.gender == 'M'
                            option(value="m") Male
                        if loggedInUser.gender == 'F'
                            option(value="f") Female
                        if loggedInUser.gender == 'O'
                            option(value="o") Other
                div(class="emp-form__item")
                    label(for="phone" class="emp-form__label") Phone Number
                    input(type="text" class="emp-form__input" name="phone" id="phone" placeholder=`${loggedInUser.phoneNo}` readonly)
                div(class="emp-form__item")
                    label(for="email" class="emp-form__label") Email
                    input(type="text" class="emp-form__input" name="email" id="email" placeholder=`${loggedInUser.email}` readonly)
                div(class="emp-form__item")
                    label(for="houseno" class="emp-form__label") House Number
                    input(type="text" class="emp-form__input" name="houseno" id="houseno" placeholder=`${loggedInUser.houseNo}` readonly)
                div(class="emp-form__item")
                    label(for="street" class="emp-form__label") Street
                    input(type="text" class="emp-form__input" name="street" id="street" placeholder=`${loggedInUser.street}` readonly)
                div(class="emp-form__item")
                    label(for="postcode" class="emp-form__label") Postcode
                    input(type="text" class="emp-form__input" name="postcode" id="postcode" placeholder=`${loggedInUser.postcode}` readonly)
                div(class="emp-form__item")
                    label(for="city" class="emp-form__label") City
                    input(type="text" class="emp-form__input" name="city" id="city" placeholder=`${loggedInUser.city}` readonly)
                div(class="emp-form__item")
                    a(href="profile/edit")
                        button(class="emp-form__button") Edit  