//Function to add all the shifts to the table for the specific day - pass in a list of shifts 
mixin loopShifts(weekRota)
    each person in weekRota
        tr
            td
                //Possible click the persons name to add shift and can select day too?
                //Or could just click on the day
                a(href="#")= person.name 
            td= person.mon 
            td= person.tue
            td= person.wed 
            td= person.thu 
            td= person.fri 
            td= person.sat 
            td= person.sun

include includes/header.pug
div#page-container 
    include includes/nav
    div#content-container
        div(class="flex-row-container centre-flex-row-items" style="margin-top: var(--medium-px)")
            div(class="title-text-box blue-title-text-box" style="padding: var(--medium-px); margin: 0px var(--medium-px) 0px var(--medium-px); hyphens: none;").
                Rota
        div(class="scroll-flex-row-container centre-flex-row-items" style="margin-top: var(--medium-px)") 
            div(style="overflow:auto") 
                table(class="rota-table") 
                    thead 
                        tr
                            th Employee 
                            th Monday 
                            th Tuesday 
                            th Wednesday  
                            th Thursday
                            th Friday
                            th Saturday
                            th Sunday
                    tbody 
                        //Need to pass in the rota for the week 
                        +loopShifts(week1Rota)