//Function to add all the shifts to the table for the specific day - pass in a list of shifts 
mixin loopShifts(week)
    each person in week
        tr
            td= person.name 
            td
                if person.mon
                    a(href=`/rota/${weekRota.weekStart}/mon/${person.staffId}/edit`)= person.mon 
                else 
                    a(href=`/rota/${weekRota.weekStart}/mon/${person.staffId}/add`) ----
            td 
                if person.tue
                    a(href=`/rota/${weekRota.weekStart}/tue/${person.staffId}/edit`)= person.tue
                else 
                    a(href=`/rota/${weekRota.weekStart}/tue/${person.staffId}/add`) ----
            td 
                if person.wed
                    a(href=`/rota/${weekRota.weekStart}/wed/${person.staffId}/edit`)= person.wed 
                else 
                    a(href=`/rota/${weekRota.weekStart}/wed/${person.staffId}/add`) ---- 
            td 
                if person.thu
                    a(href=`/rota/${weekRota.weekStart}/thu/${person.staffId}/edit`)= person.thu
                else 
                    a(href=`/rota/${weekRota.weekStart}/thu/${person.staffId}/add`) ----
            td 
                if person.fri
                    a(href=`/rota/${weekRota.weekStart}/fri/${person.staffId}/edit`)= person.fri 
                else 
                    a(href=`/rota/${weekRota.weekStart}/fri/${person.staffId}/add`) ---- 
            td 
                if person.sat
                    a(href=`/rota/${weekRota.weekStart}/sat/${person.staffId}/edit`)= person.sat 
                else 
                    a(href=`/rota/${weekRota.weekStart}/sat/${person.staffId}/add`) ----
            td 
                if person.sun
                    a(href=`/rota/${weekRota.weekStart}/sun/${person.staffId}/edit`)= person.sun
                else 
                    a(href=`/rota/${weekRota.weekStart}/sun/${person.staffId}/add`) ----

include includes/header.pug
div#page-container 
    include includes/nav
    div#content-container
        div(class="flex-row-container centre-flex-row-items" style="margin-top: var(--medium-px)")
            div(class="title-text-box blue-title-text-box" style="padding: var(--medium-px); margin: 0px var(--medium-px) 0px var(--medium-px); hyphens: none;").
                Rota
        div(class="scroll-flex-row-container centre-flex-row-items" style="margin-top: var(--medium-px)") 
            div(style="overflow:auto") 
                table(class="rota-table") 
                    thead 
                        tr
                            th Employee 
                            th Monday 
                            th Tuesday 
                            th Wednesday  
                            th Thursday
                            th Friday
                            th Saturday
                            th Sunday
                    tbody 
                        //Need to pass in the rota for the week 
                        +loopShifts(weekRota)